#top-menu a.banner-envelope {
  padding-left: 20px;
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
}
.banner-li {
  display: inline-block;
  width: 30%;
  border: 1px solid #000;
  padding: 10px 15px;
}
.banner-li:hover {
  background-color: #f5f5f5;
}
.banner-info, .banner-warning, .banner-error {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 1px;
  border-bottom: 1px solid #999;
}
.banner-info {
  background-color: #d9edf7;
}
.banner-warning {
  background-color: #fcf8e3;
}
.banner-error {
  background-color: #f2dede;
}
.banner p {
  padding: 0 20px 0 100px;
}
