#top-menu a.banner-envelope {
  padding-left: 20px;
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
}
.banner-li {
  display: inline-block;
  width: 30%;
  border: 1px solid #000;
}
.banner-li:hover {
  background-color: #f5f5f5;
}
#banner_area {
  margin-bottom: 20px;
}
#banner_area p {
  margin-top: 0;
  margin-bottom: 0;
}
.flash.info {
  background-color: #d9edf7;
  border-color: #337ab7;
  color: #164f6a;
}
